/**BASE**/
body {
  font-family: "Roboto Slab", serif !important; }

.container {
  width: 1200px;
  margin: 0 auto; }

/*RESPONSIVO HEADER*/
.fundo1 {
  background: url(../images/fundo1.jpg) no-repeat center bottom;
  background-size: cover;
  display: block;
  width: 100%;
  height: 51em;
  position: relative; }

nav {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 79px;
  overflow: hidden;
  position: fixed;
  width: 100%; }

.logo {
  background: url(../images/logo.png) transparent no-repeat center top;
  background-size: 100%;
  margin-left: 10%;
  margin-top: 0.5%;
  width: 5em;
  min-height: 103px;
  position: absolute; }

ul.nav-links {
  list-style-type: none;
  margin: 0 10% 0 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  /* height: 69px; */ }

ul.nav-links li {
  float: right;
  padding-top: 3%;
  height: 130px; }

ul.nav-links li:hover {
  background-color: #ff3e00;
  -webkit-transform: translateY(-2%);
  transform: translateY(-2%); }

ul.nav-links li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  /*transition: 0.3s;*/
  font-size: 1.8rem; }

ul.nav-links li a:hover {
  background-color: #ff3e00;
  /*padding-bottom: 1%;*/ }

ul.nav-links li.icon {
  display: none; }

.glyphicon2 {
  display: none; }

@media (max-width: 680px) {
  ul.nav-links li:not(:first-child) {
    display: none;
    padding-top: 40px; }
  ul.nav-links li.icon {
    float: right;
    display: block; } }

@media (max-width: 680px) {
  .nav {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 7em;
    overflow: hidden;
    position: absolute; }
  .logo {
    background: url(../images/logo.png) transparent no-repeat center top;
    background-size: 100%;
    /* margin-left: 38%; */
    /* margin-top: 0.5%; */
    /* margin-bottom: 5%; */
    width: 15%;
    height: auto;
    position: absolute;
    z-index: 9;
    top: 1.2em; }
  .glyphicon2 {
    position: relative;
    top: 2.6em;
    padding-right: 1em;
    /* right: 0em; */
    font-size: 2em;
    float: right;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  ul.nav-links {
    margin: 0; }
  ul.nav-links.responsive {
    position: relative;
    padding-top: 30%;
    transition: 1.3s;
    text-align: center; }
  ul.nav-links.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 20px; }
  ul.nav-links.responsive li:first-child {
    float: none;
    display: inline; }
  ul.nav-links.responsive li {
    float: none;
    display: inline; }
  ul.nav-links.responsive li a {
    display: block;
    text-align: center; }
  ul.nav-links.responsive li a {
    display: block;
    text-align: center; } }

.Footer {
  background: #000;
  height: 30em; }

.parallaxNarguile {
  background: url("../images/parallaxNarguile.jpg") no-repeat center;
  height: 40em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .parallaxNarguile p {
    font-size: 4.4em;
    text-align: center;
    color: #FFF;
    text-shadow: 2px 2px black;
    padding: 0.1em;
    box-shadow: 2px 2px 2px; }

.about {
  height: 40em;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .about .aboutDescricao {
    background-color: #ece9dc;
    height: 100%;
    width: 50%;
    padding: 2em; }
    .about .aboutDescricao h1 {
      font-size: 3.4em; }
    .about .aboutDescricao p {
      font-size: 1.5em; }
  .about .aboutImg {
    background: url("../images/11.jpg");
    background-size: 100%;
    height: 100%;
    width: 50%; }

@media (max-width: 420px) {
  .parallaxNarguile {
    height: 20em; }
    .parallaxNarguile p {
      font-size: 1.8em; }
  .about {
    height: auto;
    width: 100%;
    flex-flow: row wrap; }
    .about .aboutDescricao {
      height: auto;
      width: auto;
      padding: 1.3em; }
      .about .aboutDescricao h1 {
        font-size: 2.4em; }
      .about .aboutDescricao p {
        font-size: 1em; }
    .about .aboutImg {
      display: none; } }

.galeria {
  height: 85em;
  background: #ccc; }
  .galeria .topoGaleria {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 14em;
    background: #000; }
    .galeria .topoGaleria h3 {
      font-size: 4em;
      text-align: center;
      color: #fff; }
  .galeria .fotoGaleria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .galeria .fotoGaleria .textoFoto {
      display: flex;
      align-items: center;
      height: 100%;
      text-align: center;
      justify-content: space-around;
      font-size: 5em;
      text-align: center;
      opacity: 0; }
    .galeria .fotoGaleria .textoFoto:hover {
      opacity: 1;
      color: red; }
    .galeria .fotoGaleria .foto1 {
      width: 33%;
      height: 330px;
      background: url("../images/foto1.jpg") no-repeat center;
      background-size: cover; }
    .galeria .fotoGaleria .foto1:hover {
      opacity: .6; }
    .galeria .fotoGaleria .foto2 {
      width: 34%;
      height: 330px;
      background: url("../images/foto2.jpg") no-repeat center;
      background-size: cover; }
    .galeria .fotoGaleria .foto2:hover {
      opacity: .6; }
    .galeria .fotoGaleria .foto3 {
      width: 33%;
      height: 330px;
      background: url("../images/foto3.jpg") no-repeat center;
      background-size: cover; }
    .galeria .fotoGaleria .foto3:hover {
      opacity: .6; }
    .galeria .fotoGaleria .foto4 {
      width: 33%;
      height: 330px;
      background: url("../images/foto4.jpg") no-repeat center;
      background-size: cover; }
    .galeria .fotoGaleria .foto4:hover {
      opacity: .6; }
    .galeria .fotoGaleria .foto5 {
      width: 34%;
      height: 330px;
      background: url("../images/foto5.jpg") no-repeat center;
      background-size: cover; }
    .galeria .fotoGaleria .foto5:hover {
      opacity: .6; }
    .galeria .fotoGaleria .foto6 {
      width: 33%;
      height: 330px;
      background: url("../images/foto6.jpg") no-repeat center;
      background-size: cover; }
    .galeria .fotoGaleria .foto6:hover {
      opacity: .6; }
    .galeria .fotoGaleria .foto7 {
      width: 25%;
      height: 330px;
      background: url("../images/foto7.jpg") no-repeat center;
      background-size: cover; }
    .galeria .fotoGaleria .foto7:hover {
      opacity: .6; }
    .galeria .fotoGaleria .foto8 {
      width: 25%;
      height: 330px;
      background: url("../images/foto8.jpg") no-repeat center;
      background-size: cover; }
    .galeria .fotoGaleria .foto8:hover {
      opacity: .6; }
    .galeria .fotoGaleria .foto9 {
      width: 25%;
      height: 330px;
      background: url("../images/foto9.jpg") no-repeat center;
      background-size: cover; }
    .galeria .fotoGaleria .foto9:hover {
      opacity: .6; }
    .galeria .fotoGaleria .foto10 {
      width: 25%;
      height: 330px;
      background: url("../images/foto10.jpg") no-repeat center;
      background-size: cover; }
    .galeria .fotoGaleria .foto10:hover {
      opacity: .6; }

.cardapio {
  height: 82em; }
  .cardapio .descricaoCardapio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 32em;
    background: red; }
    .cardapio .descricaoCardapio .iconFood {
      background: url("../images/spaghetti.png") no-repeat center;
      background-size: cover;
      height: 40px; }
    .cardapio .descricaoCardapio .iconBeer {
      background: url("../images/beer.png") no-repeat center;
      background-size: cover; }
    .cardapio .descricaoCardapio .iconNargui {
      background: url("../images/hookah.png") no-repeat center;
      background-size: cover; }
    .cardapio .descricaoCardapio .iconFoodBar {
      background: url("../images/covered-food-tray-on-a-hand-of-hotel-room-service.png") no-repeat center;
      background-size: cover; }
  .cardapio .cardapioImg {
    height: 50em;
    background: url("../images/foto1.jpg") no-repeat center;
    background-size: cover; }

.mapa {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  height: 44em; }

@media (max-width: 420px) {
  .mapa {
    height: 30em; }
    .mapa iframe {
      height: 100%; } }
