.footer {
  background: #000;
  color: #fff;
  height: 23em;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center; }
  .footer .logo-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .footer .logo-footer .logof {
      width: 13.5em;
      height: 13.5em;
      background: url(../images/tacho1.png) no-repeat center;
      background-size: 100%; }
    .footer .logo-footer h5 {
      text-align: center; }
  .footer h3 {
    color: #ffc657; }
  .footer .contato-footer p {
    text-align: center;
    font-size: 0.9em; }
  .footer .social-footer .midias-sociais {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .footer .social-footer .midias-sociais iframe {
      padding: 0.1em; }

@media (width: 768px) {
  .footer {
    background: #000;
    color: #fff;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center; }
  .footer .social-footer .midias-sociais {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 3em; } }

@media (max-width: 420px) {
  .footer {
    height: auto;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .footer h3 {
      font-size: 1.2em; }
    .footer .logo-footer {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap; }
      .footer .logo-footer .logof {
        width: 9em;
        height: 9em;
        background: url(../images/tacho1.png) no-repeat center;
        background-size: 100%; }
      .footer .logo-footer h5 {
        text-align: center;
        font-size: 0.9em; }
    .footer .contato-footer p {
      text-align: center;
      font-size: 0.9em; }
    .footer .social-footer .midias-sociais {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .footer .social-footer .midias-sociais iframe {
        padding: 0.1em; } }
