.parallaxNarguile{
  background: url('../images/parallaxNarguile.jpg') no-repeat center;
  height: 40em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    font-size: 4.4em;
    text-align: center;
    color:#FFF;
  }
}
.about {
  height: 40em;
  width: 100%;
  // background-color: red;
  .aboutDescricao{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    background-color: #ece9dc;
    height: 100%;

    h1{
      font-size: 3.4em;
      
    }
    p{
      font-size: 1.5em;

    }
  }
  .aboutImg{
    background: url('../images/11.jpg');
    background-size: cover;
    height: 100%;
  }
}
