.parallaxNarguile{
  background: url('../images/parallaxNarguile.jpg') no-repeat center;
  height: 40em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    font-size: 4.4em;
    text-align: center;
    color:#FFF;
    text-shadow: 2px 2px black;
    padding: 0.1em;
    box-shadow: 2px 2px 2px;
  }
}
.about {
  height: 40em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  .aboutDescricao{
    background-color: #ece9dc;
    height: 100%;
    width: 50%;
    padding: 2em;
    h1{
      font-size: 3.4em;
      
    }
    p{
      font-size: 1.5em;

    }
  }
  .aboutImg{
    background: url('../images/11.jpg');
    background-size: 100%;
    height: 100%;
    width: 50%;
  }
}
@media(max-width: 420px){
  .parallaxNarguile{
  height: 20em;
  p{
    font-size: 1.8em;
  }
}
.about {
  height: auto;
  width: 100%;
  flex-flow: row wrap;
  .aboutDescricao{
    height: auto;
    width: auto;
    padding: 1.3em;
    h1{
      font-size: 2.4em;
      
    }
    p{
      font-size: 1em;

    }
  }
  .aboutImg{
    display: none;
  }
}
}