.cardapio{
  height: 82em;

  .descricaoCardapio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 32em;
    background: red;

    .iconFood{
      background: url('../images/spaghetti.png') no-repeat center;
      background-size: cover;
      height: 40px;
    }
    .iconBeer{
      background: url('../images/beer.png') no-repeat center;
      background-size: cover;
    }
    .iconNargui{
      background: url('../images/hookah.png') no-repeat center;
      background-size: cover;
    }
    .iconFoodBar{
      background: url('../images/covered-food-tray-on-a-hand-of-hotel-room-service.png') no-repeat center;
      background-size: cover;
    }
  }
  .cardapioImg{
    height: 50em;
    background: url('../images/foto1.jpg') no-repeat center;
    background-size: cover;
  }
}
