.galeria {
    height: 85em;
    background: #ccc;
    .topoGaleria {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 20%;
        background: #000;
        h3 {
            font-size: 4em;
            text-align: center;
            color: #fff;
        }
    }
    .fotoGaleria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 80%;
        .textoFoto {
            display: flex;
            align-items: center;
            height: 100%;
            text-align: center;
            justify-content: space-around;
            font-size: 3em;
            text-align: center;
            opacity: 0;
        }
        .textoFoto:hover {
            opacity: 1;
            color: red;
        }
        .foto1 {
            width: 33.3%;
            height: 33.3%;
            background: url('../images/foto1.jpg') no-repeat center;
            background-size: cover;
        }
        .foto1:hover {
            filter: brightness(50%);
            transition: 0.3s;
            transform: scale(1.1);
            box-shadow: 2px 2px 1px #fff;
            cursor: pointer;
        }
        .foto2 {
            width: 33.3%;
            height: 33.3%;
            background: url('../images/foto2.jpg') no-repeat center;
            background-size: cover;
        }
        .foto2:hover {
            filter: brightness(50%);
            transition: 0.3s;
            transform: scale(1.1);
            box-shadow: 2px 2px 1px #fff;
        }
        .foto3 {
            width: 33.3%;
            height: 33.3%;
            background: url('../images/foto3.jpg') no-repeat center;
            background-size: cover;
        }
        .foto3:hover {
            filter: brightness(50%);
            transition: 0.3s;
            transform: scale(1.1);
            box-shadow: 2px 2px 1px #fff;
        }
        .foto4 {
            width: 33.3%;
            height: 33.3%;
            background: url('../images/foto4.jpg') no-repeat center;
            background-size: cover;
        }
        .foto4:hover {
            filter: brightness(50%);
            transition: 0.3s;
            transform: scale(1.1);
        }
        .foto5 {
            width: 33.3%;
            height: 33.3%;
            background: url('../images/foto5.jpg') no-repeat center;
            background-size: cover;
        }
        .foto5:hover {
            filter: brightness(50%);
            transition: 0.3s;
            transform: scale(1.1);
        }
        .foto6 {
            width: 33.3%;
            height: 33.3%;
            background: url('../images/foto6.jpeg') no-repeat center;
            background-size: cover;
        }
        .foto6:hover {
            filter: brightness(50%);
            transition: 0.3s;
            transform: scale(1.1);
        }
        .foto7 {
            width: 25%;
            height: 33.3%;
            background: url('../images/foto7.jpg') no-repeat center;
            background-size: cover;
        }
        .foto7:hover {
            filter: brightness(50%);
            transition: 0.3s;
            transform: scale(1.1);
        }
        .foto8 {
            width: 25%;
            height: 33.3%;
            background: url('../images/foto8.jpg') no-repeat center;
            background-size: cover;
        }
        .foto8:hover {
            filter: brightness(50%);
            transition: 0.3s;
            transform: scale(1.1);
        }
        .foto9 {
            width: 25%;
            height: 33.3%;
            background: url('../images/foto9.jpg') no-repeat center;
            background-size: cover;
        }
        .foto9:hover {
            filter: brightness(50%);
            transition: 0.3s;
            transform: scale(1.1);
        }
        .foto10 {
            width: 25%;
            height: 33.3%;
            background: url('../images/foto10.jpg') no-repeat center;
            background-size: cover;
        }
        .foto10:hover {
            filter: brightness(50%);
            transition: 0.3s;
            transform: scale(1.1);
        }
    }
}