.mapa{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  height: 44em;
}

@media (max-width: 420px){
  .mapa{
    height: 30em;

    iframe{
      height: 100%;
    }
  }
}
