/**BASE**/
body {
  font-family: "Roboto Slab", serif !important;
}
// #titulo {
//   text-transform: uppercase;
// }
.container {
  width: 1200px;
  margin: 0 auto;
}


@media(min-width: 421px){
  .responsive {
    display: none !important;
  }

  .slider {
    display: none !important;
  }
   .slick-initialized {
     display: none !important;
   }
   .slick-slider{
display: none !important;
   }
   .slick-dotted{
display: none !important;
   }
}
