/**BASE**/
body {
  font-family: "Roboto Slab", serif !important;
}
// #titulo {
//   text-transform: uppercase;
// }
.container {
  width: 1200px;
  margin: 0 auto;
}

@mixin titulos {
  font-size: 3.4em; 
  color: #fff;
  // text-transform: uppercase;
} 
