/**BASE**/
body {
  font-family: "Roboto Slab", serif !important;
}
// #titulo {
//   text-transform: uppercase;
// }
.container {
  width: 1200px;
  margin: 0 auto;
}


// @media(min-width: 421px){
//   .center {
//     display: none !important;
//   }

//   .slider {
//     display: none !important;
//   }
//    .slick-initialized {
//      display: none !important;
//    }
//    .slick-slider{
// display: none !important;
//    }
// }
#owl-demo .item img{
    display: block;
    width: 100%;
    height: 17em;
}